<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://Naja/1.0"
            class="com.jeevaneo.naja.NajaPackage"
            genModel="model/Naja.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.borgoltz.test.emf.actionSet"
            label="Sample Action Set"
            visible="true">
         <menu
               id="sampleMenu"
               label="Sample &amp;Menu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               class="org.borgoltz.test.emf.actions.TestAction"
               icon="icons/sample.gif"
               id="org.borgoltz.test.emf.actions.TestAction"
               label="&amp;Sample Action"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="Hello, Eclipse world">
         </action>
      </actionSet>
   </extension>

</plugin>
