<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.jeevaneo.naja.timeentries.presentation.TimeentriesModelWizardID"
            name="%_UI_TimeentriesModelWizard_label"
            class="com.jeevaneo.naja.timeentries.presentation.TimeentriesModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TimeentriesModelFile.gif">
         <description>%_UI_TimeentriesModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="com.jeevaneo.naja.timeentries.presentation.TimeentriesEditorID"
            name="%_UI_TimeentriesEditor_label"
            icon="icons/full/obj16/TimeentriesModelFile.gif"
            extensions="timeentries"
            class="com.jeevaneo.naja.timeentries.presentation.TimeentriesEditor"
            contributorClass="com.jeevaneo.naja.timeentries.presentation.TimeentriesActionBarContributor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="com.jeevaneo.naja.timeentries.popup.actions.contribution"
            objectClass="org.eclipse.emf.ecore.EObject">
         <menu
               id="com.jeevaneo.naja.timeentries.menu"
               label="Naja Time Entries"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="com.jeevaneo.naja.timeentries.popup.actions.GenerateImputationsAction"
               enablesFor="*"
               id="com.jeevaneo.naja.timeentries.popup.actions.GenerateImputationsAction"
               label="Generate imputations"
               menubarPath="com.jeevaneo.naja.timeentries.menu/group1">
         </action>
         <visibility>
            <or>
               <objectClass
                     name="com.jeevaneo.naja.timeentries.TimeEntry">
               </objectClass>
               <objectClass
                     name="com.jeevaneo.naja.timeentries.TimeEntries">
               </objectClass>
            </or>
         </visibility>
      </objectContribution>
   </extension>

</plugin>
