<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider
            cache="true"
            mode="Batch">
         <package
               namespaceUri="http://naja.jeevaneo.com/1.0">
         </package>
         <constraints
               categories="com.jeevaneo.naja.validation.category">
            <constraint
                  class="com.jeevaneo.naja.validation.PositiveLoadsConstraint"
                  id="com.jeevaneo.naja.validation.constraint1"
                  lang="Java"
                  mode="Batch"
                  name="Positive loads"
                  severity="ERROR"
                  statusCode="com.jeevaneo.naja.validation.constraint1">
               <message>
                  Resource {0} is over imputed by {1} hours.
               </message>
               <description>
                  Every resource should have a positive left availability.
               </description>
               <target
                     class="org.eclipse.emf.ecore.EObject">
               </target>
            </constraint>
            <constraint
                  class="com.jeevaneo.naja.validation.ReverseImputFoireuseConstraint"
                  id="com.jeevaneo.naja.validation.constraint4"
                  lang="Java"
                  mode="Batch"
                  name="Imputations reverse foireuse"
                  severity="ERROR"
                  statusCode="com.jeevaneo.naja.validation.constraint4">
               <message>
                  Imputation on task {0} is present in other task&apos;s imputations! Other task={1} imputation={2}
               </message>
               <description>
                  Every resource should have a positive left availability.
               </description>
               <target
                     class="org.eclipse.emf.ecore.EObject">
               </target>
            </constraint>
            <constraint
                  class="com.jeevaneo.naja.validation.ResourceOwnsItsImputationsConstraint"
                  id="com.jeevaneo.naja.validation.constraint5"
                  lang="Java"
                  mode="Batch"
                  name="Imputations reverse foireuse pour resource"
                  severity="ERROR"
                  statusCode="com.jeevaneo.naja.validation.constraint4">
               <message>
                  Imputation on resource {0} is present in other resource&apos;s imputations! Other resource={1} imputation={2}
               </message>
               <description>
                  resource.imputations.resource must == resource
               </description>
               <target
                     class="org.eclipse.emf.ecore.EObject">
               </target>
            </constraint>
            <constraint
                  class="com.jeevaneo.naja.validation.PositiveUnimputedLoadsConstraint"
                  id="com.jeevaneo.naja.validation.constraint6"
                  lang="Java"
                  mode="Batch"
                  name="Positive unimputed loads"
                  severity="ERROR"
                  statusCode="com.jeevaneo.naja.validation.constraint6">
               <message>
                  Planification {0} is over imputed : {1} hours.
               </message>
               <description>
                  Planifications total load should be more than or equal to its total imputations.
               </description>
               <target
                     class="org.eclipse.emf.ecore.EObject">
               </target>
            </constraint>
            <constraint
                  class="com.jeevaneo.naja.validation.OverPlanifiedTasksConstraint"
                  id="com.jeevaneo.naja.validation.constraint7"
                  lang="Java"
                  mode="Batch"
                  name="Over-planified tasks"
                  severity="ERROR"
                  statusCode="com.jeevaneo.naja.validation.constraint7">
               <message>
                  Task {0} is over planified - planified {1} hours vs total {2}
               </message>
               <description>
                  Tasks total load should be more than or equal to their total planifications.
               </description>
               <target
                     class="org.eclipse.emf.ecore.EObject">
               </target>
            </constraint>
            <constraint
                  class="com.jeevaneo.naja.validation.OverImputedTasksConstraint"
                  id="com.jeevaneo.naja.validation.constraint8"
                  lang="Java"
                  mode="Batch"
                  name="Over-imputed tasks"
                  severity="ERROR"
                  statusCode="com.jeevaneo.naja.validation.constraint8">
               <message>
                  Task {0} is over imputed - imputations {1}h vs total {2}h
               </message>
               <description>
                  Tasks total load should be more than or equal to their total imputations.
               </description>
               <target
                     class="org.eclipse.emf.ecore.EObject">
               </target>
            </constraint>
            <constraint
                  class="com.jeevaneo.naja.validation.NonNullDateOfImputationConstraint"
                  id="com.jeevaneo.naja.validation.constraint9"
                  lang="Java"
                  mode="Batch"
                  name="Null date of imputation"
                  severity="ERROR"
                  statusCode="com.jeevaneo.naja.validation.constraint9">
               <message>
                  Imputation has null date
               </message>
               <description>
                  Date of imputation cannot be null
               </description>
               <target
                     class="org.eclipse.emf.ecore.EObject">
               </target>
            </constraint>
</constraints>
      </constraintProvider>
      <category
            id="com.jeevaneo.naja.validation.category"
            mandatory="true"
            name="Naja constraints">
      </category>
      <constraintProvider
            cache="true"
            mode="Batch">
         <package
               namespaceUri="http://naja.jeevaneo.com/timeentries/1.0">
         </package>
         <constraints
               categories="com.jeevaneo.naja.validation.category2">
            <constraint
                  class="com.jeevaneo.naja.validation.TimeEntryImputationsHavePlanificationConstraint"
                  id="com.jeevaneo.naja.validation.constraint2"
                  lang="Java"
                  mode="Batch"
                  name="TimeEntry Imputations have Planifications"
                  severity="WARNING"
                  statusCode="com.jeevaneo.naja.validation.constraint2">
               <message>
                  Time entry {0} has no imputation or its imputation has no planification
               </message>
               <description>
                  TimeEntrys must eventually have a generated imputation. 
TimeEntry generated imputations may have a planification.
               </description>
               <target
                     class="java.lang.Object">
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintBindings">
      <clientContext
            default="false"
            id="com.jeevaneo.naja.validation.context">
         <selector
               class="com.jeevaneo.naja.validation.ClientSelector">
         </selector>
      </clientContext>
      <binding
            category="com.jeevaneo.naja.validation.category"
            context="com.jeevaneo.naja.validation.context">
      </binding>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintBindings">
      <clientContext
            default="false"
            id="com.jeevaneo.naja.validation.context2">
         <selector
               class="com.jeevaneo.naja.validation.ClientSelector">
         </selector>
      </clientContext>
      <binding
            category="com.jeevaneo.naja.validation.category2"
            context="com.jeevaneo.naja.validation.context2">
      </binding>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="com.jeevaneo.naja.validation.contribution1"
            objectClass="com.jeevaneo.naja.EObject">
         <menu
               id="com.jeevaneo.naja.validation.menu"
               label="Naja"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="com.jeevaneo.naja.validation.popup.actions.ValidationAction"
               enablesFor="*"
               id="com.jeevaneo.naja.validation.newAction"
               label="Validate!"
               menubarPath="com.jeevaneo.naja.validation.menu/group1">
         </action>
      </objectContribution>
   </extension>

   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.jeevaneo.naja.validation.startup.ValidatorRegisterer">
      </startup>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintBindings">
      <clientContext
            default="false"
            id="com.jeevaneo.naja.validation.context2">
         <selector
               class="com.jeevaneo.naja.validation.ClientSelector">
         </selector>
      </clientContext>
      <binding
            category="com.jeevaneo.naja.validation.category2"
            context="com.jeevaneo.naja.validation.context2">
      </binding>
   </extension>

</plugin>
