<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">     
      <constraintProvider
            cache="true"
            mode="Batch">
         <package
               namespaceUri="http://naja.jeevaneo.com/1.0">
         </package>
         <package
               namespaceUri="http://naja.jeevaneo.com/timeentries/1.0">
         </package>
         <constraints
               categories="com.jeevaneo.naja.validation.category">
            <constraint
                  class="com.jeevaneo.naja.validation.PositiveAvailabilitiesConstraint"
                  id="com.jeevaneo.naja.validation.constraint1"
                  lang="Java"
                  mode="Batch"
                  name="Positive availabilities"
                  severity="ERROR"
                  statusCode="com.jeevaneo.naja.validation.constraint1">
               <message>
                  Resource {0} is not enough available : {1} hours!
               </message>
               <description>
                  Every resource should have a positive left availability.
               </description>
               <target
                     class="Person">
               </target>
            </constraint>
            <constraint
                  class="com.jeevaneo.naja.validation.ReverseTaskFoireuseConstraint"
                  id="com.jeevaneo.naja.validation.constraint2"
                  lang="Java"
                  mode="Batch"
                  name="imput.planif.task==imput.task"
                  severity="ERROR"
                  statusCode="com.jeevaneo.naja.validation.constraint2">
               <message>
                  Imputation {0} : imput.planif.task!=imput.task [{1} vs {2}]
               </message>
               <description>
                  imput.planif.task should equal imput.task
               </description>
               <target
                     class="Imputation">
               </target>
            </constraint>
            <constraint
                  class="com.jeevaneo.naja.validation.ReverseImputFoireuseConstraint"
                  id="com.jeevaneo.naja.validation.constraint4"
                  lang="Java"
                  mode="Batch"
                  name="Imputations reverse foireuse"
                  severity="ERROR"
                  statusCode="com.jeevaneo.naja.validation.constraint4">
               <message>
                  Imputation on task {0} is present in other task&apos;s imputations! Other task={1} imputation={2}
               </message>
               <description>
                  Every resource should have a positive left availability.
               </description>
               <target
                     class="Task">
               </target>
            </constraint>
            <constraint
                  class="com.jeevaneo.naja.validation.ResourceOwnsItsImputationsConstraint"
                  id="com.jeevaneo.naja.validation.constraint5"
                  lang="Java"
                  mode="Batch"
                  name="Imputations reverse foireuse pour resource"
                  severity="ERROR"
                  statusCode="com.jeevaneo.naja.validation.constraint5">
               <message>
                  Imputation on resource {0} is present in other resource&apos;s imputations! Other resource={1} imputation={2}
               </message>
               <description>
                  resource.imputations.resource must == resource
               </description>
               <target
                     class="Person">
               </target>
            </constraint>
            <constraint
                  class="com.jeevaneo.naja.validation.PositiveUnimputedLoadsConstraint"
                  id="com.jeevaneo.naja.validation.constraint6"
                  lang="Java"
                  mode="Batch"
                  name="Positive unimputed loads"
                  severity="ERROR"
                  statusCode="com.jeevaneo.naja.validation.constraint6">
               <message>
                  Planification {0} is over imputed : {1} hours.
               </message>
               <description>
                  Planifications total load should be more than or equal to its total imputations.
               </description>
               <target
                     class="Planification">
               </target>
            </constraint>
            <constraint
                  class="com.jeevaneo.naja.validation.OverPlanifiedTasksConstraint"
                  id="com.jeevaneo.naja.validation.constraint7"
                  lang="Java"
                  mode="Batch"
                  name="Over-planified tasks"
                  severity="ERROR"
                  statusCode="com.jeevaneo.naja.validation.constraint7">
               <message>
                  Task {0} is over planified - planified {1} hours vs total {2}
               </message>
               <description>
                  Tasks total load should be more than or equal to their total planifications.
               </description>
               <target
                     class="Task">
               </target>
            </constraint>
            <constraint
                  class="com.jeevaneo.naja.validation.OverImputedTasksConstraint"
                  id="com.jeevaneo.naja.validation.constraint8"
                  lang="Java"
                  mode="Batch"
                  name="Over-imputed tasks"
                  severity="ERROR"
                  statusCode="com.jeevaneo.naja.validation.constraint8">
               <message>
                  Task {0} is over imputed - imputations {1}h vs total {2}h
               </message>
               <description>
                  Tasks total load should be more than or equal to their total imputations.
               </description>
               <target
                     class="Task">
               </target>
            </constraint>
            <constraint
                  class="com.jeevaneo.naja.validation.NonNullDateOfImputationConstraint"
                  id="com.jeevaneo.naja.validation.constraint9"
                  lang="Java"
                  mode="Batch"
                  name="Null date of imputation"
                  severity="ERROR"
                  statusCode="com.jeevaneo.naja.validation.constraint9">
               <message>
                  Imputation has null date
               </message>
               <description>
                  Date of imputation cannot be null
               </description>
               <target
                     class="Imputation">
               </target>
            </constraint>
            <constraint
                  class="com.jeevaneo.naja.validation.TimeEntryImputationsHavePlanificationConstraint"
                  id="com.jeevaneo.naja.validation.constraint10"
                  lang="Java"
                  mode="Batch"
                  name="timeEntry.imputation!=null &amp;&amp; timeEntry.imputation.planification!=null"
                  severity="WARNING"
                  statusCode="com.jeevaneo.naja.validation.constraint10">
               <message>
                  TimeEntry has no imputation or its imputation has no planification : {0}
               </message>
               <description>
                  TimeEntry should have an imputation and its imputation should have a planification.
               </description>
               <target
                     class="TimeEntry">
               </target>
            </constraint>
            <constraint
                  class="com.jeevaneo.naja.validation.OverAffectedTasksConstraint"
                  id="com.jeevaneo.naja.validation.constraint11"
                  lang="Java"
                  mode="Batch"
                  name="Over-affected tasks"
                  severity="ERROR"
                  statusCode="com.jeevaneo.naja.validation.constraint11">
               <message>
                  Task {0} is over affected by {1}h - imputations {2}h +unimputed planified {3}h == {4}h vs total {5}h
               </message>
               <description>
                  Tasks total load should be more than or equal to their total imputations+unimputed plnaifications.
               </description>
               <target
                     class="Task">
               </target>
            </constraint>
             <constraint
                  class="com.jeevaneo.naja.validation.UnderAffectedTasksConstraint"
                  id="com.jeevaneo.naja.validation.constraint12"
                  lang="Java"
                  mode="Batch"
                  name="Under-affected tasks"
                  severity="WARNING"
                  statusCode="com.jeevaneo.naja.validation.constraint12">
               <message>
                  Task {0} is under affected by {1}h - imputations {2}h +unimputed planified {3}h == {4}h vs total {5}h
               </message>
               <description>
                  Tasks total load should be fully dispatched into imputations and planifications.
               </description>
               <target
                     class="Task">
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
      <category
            id="com.jeevaneo.naja.validation.category"
            mandatory="true"
            name="Naja constraints">
      </category>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintBindings">
      <clientContext
            default="true"
            id="com.jeevaneo.naja.validation.context">
         <selector
               class="com.jeevaneo.naja.validation.ClientSelector">
         </selector>
      </clientContext>
      <binding
            category="com.jeevaneo.naja.validation.category"
            context="com.jeevaneo.naja.validation.context">
      </binding>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="com.jeevaneo.naja.validation.contribution1"
            objectClass="org.eclipse.emf.ecore.EObject">
         <menu
               id="com.jeevaneo.naja.validation.menu"
               label="Naja"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="com.jeevaneo.naja.validation.popup.actions.ValidationAction"
               enablesFor="*"
               id="com.jeevaneo.naja.validation.validateAction"
               label="Validate!"
               menubarPath="com.jeevaneo.naja.validation.menu/group1">
         </action>
      </objectContribution>
   </extension>

   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.jeevaneo.naja.validation.startup.ValidatorRegisterer">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.jeevaneo.naja.validation.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="com.jeevaneo.naja.validation.commands.category"
            id="com.jeevaneo.naja.validation.commands.sampleCommand"
            name="Sample Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.jeevaneo.naja.validation.handlers.TotalValidationHandler"
            commandId="com.jeevaneo.naja.validation.commands.sampleCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.jeevaneo.naja.validation.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="com.jeevaneo.naja.validation.menus.sampleMenu"
               label="Sample Menu"
               mnemonic="M">
            <command
                  commandId="com.jeevaneo.naja.validation.commands.sampleCommand"
                  icon="icons/check.png"
                  id="com.jeevaneo.naja.validation.menus.sampleCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.jeevaneo.naja.validation.toolbars.sampleToolbar">
            <command
                  commandId="com.jeevaneo.naja.validation.commands.sampleCommand"
                  icon="icons/check.png"
                  id="com.jeevaneo.naja.validation.toolbars.sampleCommand"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
