<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Naja"
            id="com.jeevaneo.naja.views">
      </category>
      <view
            name="Clown&apos;s planifications"
            icon="icons/sample.gif"
            category="com.jeevaneo.naja.views"
            class="com.jeevaneo.naja.views.views.ClownPlanificationView"
            id="com.jeevaneo.naja.views.views.ClownPlanificationView">
      </view>
   </extension>

</plugin>
