<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
 <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="com.jeevaneo.naja.actons.categories"
            objectClass="org.eclipse.emf.ecore.EObject">
         <menu
               id="com.jeevaneo.naja.menu1"
               label="Naja export"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="com.jeevaneo.naja.popup.actions.ExportCategoriesAsCsvAction"
               enablesFor="*"
               id="com.jeevaneo.naja.newAction"
               label="Export Categories &amp; Tasks as CSV"
               menubarPath="com.jeevaneo.naja.menu1/group1">
         </action>
         <visibility>
            <or>
               <objectClass
                     name="com.jeevaneo.naja.Category">
               </objectClass>
               <objectClass
                     name="com.jeevaneo.naja.Task">
               </objectClass>
               <objectClass
                     name="com.jeevaneo.naja.Project">
               </objectClass>
            </or>
         </visibility>
      </objectContribution>
      <objectContribution
            id="com.jeevaneo.naja.actons.projects"
            objectClass="com.jeevaneo.naja.Project">
         <menu
               id="com.jeevaneo.naja.menu1"
               label="Naja export"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="com.jeevaneo.naja.popup.actions.ExportTasksAsCsvAction"
               enablesFor="*"
               id="com.jeevaneo.naja.newAction"
               label="Export Tasks as CSV"
               menubarPath="com.jeevaneo.naja.menu1/group1">
         </action>
      </objectContribution>
      <objectContribution
            id="com.jeevaneo.naja.actons.task.mappings"
            objectClass="org.eclipse.emf.ecore.EObject">
         <menu
               id="com.jeevaneo.naja.menu1"
               label="Naja export"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="com.jeevaneo.naja.popup.actions.ExportTasksWithoutMappingAsCsvAction"
               enablesFor="*"
               id="com.jeevaneo.naja.popup.actions.ExportTasksWithoutMappingAsCsvAction2"
               label="Export Tasks without mapping as CSV"
               menubarPath="com.jeevaneo.naja.menu1/group1">
         </action>
         <visibility>
            <or>
               <objectClass
                     name="com.jeevaneo.naja.Project">
               </objectClass>
               <objectClass
                     name="com.jeevaneo.naja.TaskMappings">
               </objectClass>
            </or>
         </visibility>
      </objectContribution>
      <objectContribution
            id="com.jeevaneo.naja.actons.planifications"
            objectClass="org.eclipse.emf.ecore.EObject">
         <menu
               id="com.jeevaneo.naja.menu1"
               label="Naja export"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="com.jeevaneo.naja.popup.actions.ExportPlanificationsAsCsvAction"
               enablesFor="*"
               id="com.jeevaneo.naja.newAction"
               label="Export Planifications as CSV"
               menubarPath="com.jeevaneo.naja.menu1/group1">
         </action>
         <visibility>
            <or>
               <objectClass
                     name="com.jeevaneo.naja.Project">
               </objectClass>
               <objectClass
                     name="com.jeevaneo.naja.Planification">
               </objectClass>
               <objectClass
                     name="com.jeevaneo.naja.Task">
               </objectClass>
               <objectClass
                     name="com.jeevaneo.naja.Person">
               </objectClass>
            </or>
         </visibility>
      </objectContribution>
      <objectContribution
            id="com.jeevaneo.naja.actons.imputations"
            objectClass="org.eclipse.emf.ecore.EObject">
         <menu
               id="com.jeevaneo.naja.menu1"
               label="Naja export"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="com.jeevaneo.naja.popup.actions.ExportImputationsAsCsvAction"
               enablesFor="*"
               id="com.jeevaneo.naja.exportImputations"
               label="Export Imputations as CSV"
               menubarPath="com.jeevaneo.naja.menu1/group1">
         </action>
         <visibility>
            <or>
               <objectClass
                     name="com.jeevaneo.naja.Project">
               </objectClass>
               <objectClass
                     name="com.jeevaneo.naja.Imputation">
               </objectClass>
               <objectClass
                     name="com.jeevaneo.naja.timeentries.TimeEntries">
               </objectClass>
               <objectClass
                     name="com.jeevaneo.naja.timeentries.TimeEntry">
               </objectClass>
            </or>
         </visibility>
      </objectContribution>
      <objectContribution
            id="com.jeevaneo.naja.actions.persons"
            objectClass="com.jeevaneo.naja.Person">
         <menu
               id="com.jeevaneo.naja.menu1"
               label="Naja export"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="com.jeevaneo.naja.popup.actions.ExportOccupationAsHtmlAction"
               enablesFor="*"
               id="com.jeevaneo.naja.exportImputations"
               label="Export Occupation as HTML"
               menubarPath="com.jeevaneo.naja.menu1/group1">
         </action>
         <visibility>
            <objectClass
                  name="com.jeevaneo.naja.Person">
            </objectClass>
         </visibility>
      </objectContribution>
   </extension>
</plugin>
